body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 500px;
  padding: 20px 0;
}

.hero-image {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 500px;
  z-index: -1;
  box-shadow: inset 0 0 600px #000;
}

.hero-content {
  margin: 0px 20px;
  text-align: center;
}

.hero-header {
  font-size: 85px;
  margin-top: 160px;
  margin-bottom: 25px;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.hero-subheader {
  color: #9068d6;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
}

.hero-btn {
  /*border: 4px solid rgb(94,54,164);*/
  border: 0;
  border-radius: 7px; 
  background-color: rgb(144,104,214); 
  width: 320px; 
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover {
  /*color: rgb(70, 148, 117);*/
  text-shadow: 0 0 10px #000;
}

.hero-btn-dots {
  border: 4px solid rgb(94,54,164); 
  border-radius: 7px; 
  width: 300px; 
  height: 40px; 
  display: inline-block;
  top: 6px;
  position: relative;
}

.hero-cta-2013 {
  /*color: rgb(104, 214, 170);*/
  color: #fff;
  font-weight: bold;
  /*text-shadow: 0 0 10px #000;*/
  text-decoration: none;
  position: relative;
  top: 8px;
  font-family: 'Helvetica';
}

.hero-cta-2013:hover {
  /*color: rgb(70, 148, 117);*/
  text-shadow: 0 0 10px #000;
}

.dot-divider {
  color: #fff;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.hero-ribbon.mobile {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.hero-ribbon {
  color: #fff;
  height: 100px;
  width: 100px;
  padding: 10px;
  text-align: center;
  position: relative;
  border-radius: 100px;
  background: rgb(104, 214, 170);
}

.hero-ribbon-link.desktop {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
}


@media (max-width: 600px) {
  .hero {
    background-position: center;
  }

  .hero-header {
    font-size: 55px;
  }

  .hero-ribbon {
    display: none;
  }

  .hero-ribbon.mobile {
    display: block;
  }

  .hero-image {
    width: auto;
  }
}


.hero-ribbon-dots {
  position: absolute;
  top: 6px;
  left: 6px;
  border: 4px dashed rgb(70, 148, 117);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 15.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.hero-ribbon:hover {
  text-shadow: 0px 0px 3px rgb(70, 148, 117);
}


.hero-ribbon-text {
  margin-top: 22px;
  padding: 0px 15px;
  font-size: 18px;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.content-wrap {
  background: white;
}

.content .content-copy:last-child {
  margin-bottom: 0px;
}

.content-copy {
  line-height: 25px;
}

.contact-list {
  width: 30%;
  margin: 0 20px 0 0;
  padding: 0px;
  line-height: 25px;
  list-style-type: none;
  display: inline-block;
}

.contact-list a,
.contact-list a:visited {
  color: #9068d6;
  text-decoration: none;
}

.contact-list a:hover {
  color: #533981;
  text-decoration: none;
}

.contact-title {
  font-style: italic;
}
