body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 500px;
  box-shadow: inset 0 0 600px #000;
  padding: 20px 0;
  background: url('../images/hero2.jpg') no-repeat top left fixed;
}

.hero-content {
  margin: 0px 20px;
  text-align: center;
}

.hero-header {
  font-size: 85px;
  margin-bottom: 25px;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.hero-subheader {
  color: #9068d6;
  text-shadow: 0 0 10px #000;
}

.hero-cta-2013 {
  color: rgb(104, 214, 170);
  text-shadow: 0 0 10px #000;
}

.hero-cta-2013:hover {
  color: rgb(70, 148, 117);
  text-shadow: 0 0 10px #000;
}

.dot-divider {
  color: #fff;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.hero-ribbon.mobile {
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.hero-ribbon {
  color: #fff;
  height: 100px;
  width: 100px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  position: relative;
  border-radius: 100px;
  background: rgb(104, 214, 170);
}

.hero-ribbon-link {
  text-decoration: none;
}


@media (max-width: 600px) {
  .hero {
    background-position: center;
  }

  .hero-header {
    font-size: 55px;
  }

  .hero-ribbon {
    display: none;
  }

  .hero-ribbon.mobile {
    display: block;
  }
}


.hero-ribbon-dots {
  position: absolute;
  top: 8px;
  left: 7px;
  border: 3px dashed rgb(70, 148, 117);
  border-radius: 100px;
  height: 100px;
  width: 100px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 15.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.hero-ribbon:hover {
  text-shadow: 0px 0px 3px rgb(70, 148, 117);
}


.hero-ribbon-text {
  margin-top: 22px;
  padding: 0px 15px;
  font-size: 18px;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.content-copy {
  line-height: 25px;
}
