body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 500px;
  box-shadow: inset 0 0 600px #000;
  background: url('../images/hero2.jpg') no-repeat top left fixed;
}

.hero-content {
  padding: 100px 0px;
  margin: 0px 20px;
  text-align: center;
}

.hero-header {
  font-size: 85px;
  margin-bottom: 25px;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.hero-subheader {
  color: #9068d6;
  text-shadow: 0 0 10px #000;
}

.hero-ribbon {
  background-color: rgb(104, 214, 170);
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  text-align: center;
  top: 0;
  right: 0;
  color: #fff;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.content-header {

}
